div{
    justify-content: space-evenly;
}
.data{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    height: 40%;
}
.preview{
    width: 40%;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#imageContainer{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;

}
#imagenPrevisualizacion {
    position: relative;
    width: 40%;
}

label{
    font-size: 17pt;
    color: #fe4141;
    font-weight: bold;
    padding: 3px 7px;

}

.field{
    margin: 2%;
}

#info{
    width: 60%;
    border: 2px black solid;
    padding: 2%;
    background-color: beige;
}

textarea{
    width: 80%;
    height: 20vb;
    resize: none;
}

input{
    background-color: #c8e6c9;
}

#send{
  padding: 8px 12px; 
  background-color: #4CAF50;
  color: #fff; 
  border: none;
  cursor: pointer;
}