
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 24px; 
    font-weight: bold;
}

.previous-reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.review-container {
    width: 200px; /* Ancho del contenedor */
    margin: 0 10px 20px 10px; /* Espaciado simétrico */
}

.review-card {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.review-text {
    margin: 5px;
    font-size: 12px;
    font-weight: bold;
    border-top: 2px solid #4CAF50;
}

.delete-review {
    background-color: #D32F2F;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.scroll-reviews {
    overflow-x: auto;
    white-space: nowrap;
    margin: 20px 0;
}

/* Estilos para el review a eliminar */
.review-to-delete {
    font-size: 18px; 
    font-weight: bold;
    margin-top: 20px;
    border: 2px solid #D32F2F;
    padding: 10px;
}

.user-avatar-small {
    width: 100%;
    max-width: 50px; /* Establecer un tamaño máximo para el ancho */
    max-height: 50px; /* Establecer un tamaño máximo para la altura */
    height: auto;
}

.review-content {
    text-align: center;
}

